[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public/public"]
	path = public/public
	url = https://github.com/benpurvis42/benpurvis42.github.io.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/benpurvis42/benpurvis42.github.io.git
	branch = master
